@use '/src/global.scss';

.button {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    @include global.center()
}

.buttonBlue {
    background-color: #0079BD;
}

.buttonWhite {
    background-color: #FFFFFF;
}