@use '../../global.scss';

.themesSection {
    @extend %section-body;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 3rem;
    
    h1 {
        font-size: 1.8rem;
        span {
            color: global.$text-secondary-color;
        }

        @media (max-width:global.$layout-breakpoint-small) {
            h1 {
                font-size: 1.2;
            }
        }
    }
}

