@use '../../global.scss';

.btnPrimary {
    font-size: 1.1rem;
    border-radius: 10rem 10rem;
    padding: 15px 20px;
    &:hover {
        background-color: global.$primary-color-hover;
    }
    @media (max-width: global.$layout-breakpoint-small) {
        font-size: 0.8rem;
        padding: 10px 20px;
    }
}