@use "../../global.scss";

.homeMain {
  @extend %section-body;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  @include global.center($direction: column, $gap: 1rem);
  h1 {
    font-weight: 300;
    font-size: 4.5rem;
    span {
      color: global.$text-secondary-color;
    }
  }

  p {
    font-family: global.$secondary-font;
    font-weight: 300;
    font-size: 1.8rem;
    max-width: 60vw;
    span {
      font-family: global.$primary-font;
      font-weight: 500;
      color: global.$text-secondary-color;
    }
  }

  @media (max-width: global.$layout-breakpoint-small) {
      h1 {
        font-size: 3.3rem;
      }
      p {
        font-size: 1.7rem;
      }
      button {
        font-size: 1.6rem;
      }
  }
}
