.headerSection {
    width: 100%;
    padding: 1rem;
    z-index: 20;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    a {
        font-size: 1.2rem;
    }
    div {
        display: flex;
        gap: 10px;
    }
}