@use '../../global.scss';

@mixin bgAnswer($bgColor: #8989891d) {
    background-color: $bgColor;
    cursor:auto;
}

.questionsSection {
    @extend %section-body;
    @include global.center($direction: column, $gap:1rem)
}

.questionLayout {
    position: relative;
    background-color: #212122;
    width: 50rem;
    border-radius: 1rem;
    header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        >:first-child {
            display: flex;
            gap: 0.4rem;
        }

        >:last-child {
            span {
                color: rgb(219, 52, 52);
            }
        }

        >:nth-child(even) {
            position: absolute;
            left: 50%;
        }
    }
}

.questionTimer {
    width: 1rem;
    height: 1.5rem;
    background-color: rgb(240, 240, 240);
}

.timerRed {
    background-color: rgb(219, 52, 52);
}

.questionMultiple {
    text-align: center;
    h5 {
        font-size: 1.5rem;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }
}

.answer {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.3rem;
}

.normalAnswer {
    background-color: #8989891d;
    &:hover {
        background-color: #9D9D9D
    }
}

.responseAnswer {
    @include bgAnswer();
    &:hover {
        background-color: #8989891d;
    }
}

.correctAnswer {
    @include bgAnswer(#07B60E);
}

.incorrectAnswer {
    @include bgAnswer(#FF3C3C);
}

.questionBoolean {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    div {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        button {
            font-size: 2rem;
            width: 50%;
            height: 10rem;
        }
    }
}