@use '../../global.scss';

@mixin bgAnswer($bgColor: #8989891d) {
    background-color: $bgColor;
    cursor:auto;
}

.questionsSection {
    @extend %section-body;
    @include global.center($direction: column, $gap:1rem);

    p {
        font-size: 2rem;
    }
}

.questionLayout {
    position: relative;
    background-color: #212122;
    width: 50rem;
    border-radius: 1rem;
    h5 {
        font-size: 1.5rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        >:first-child {
            display: flex;
            gap: 0.4rem;
        }
    }

    @media (max-width: global.$layout-breakpoint-small) {
        width: 80%;
        h5 {
            font-size: 1rem;
            width: 90%;
            margin: 0 auto;
        }
        header {
            flex-direction: column;
            align-items: center;
        }
    }
}

.questionTimer {
    width: 1rem;
    height: 1.5rem;
    background-color: rgb(240, 240, 240);
}

.timerRed {
    background-color: rgb(219, 52, 52);
}

.questionMultiple {
    text-align: center;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }
}

.answer {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.3rem;

        
    @media (max-width: global.$layout-breakpoint-small) {
        width: 90%;
        font-size: 1rem;
    }
}

.normalAnswer {
    background-color: #8989891d;
    &:hover {
        background-color: #9D9D9D
    }
}

.responseAnswer {
    @include bgAnswer();
    &:hover {
        background-color: #8989891d;
    }
}

.correctAnswer {
    @include bgAnswer(#07B60E);
}

.incorrectAnswer {
    @include bgAnswer(#FF3C3C);
}

.questionBoolean {
    text-align: center;
    padding: 1rem;
    div {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        button {
            font-size: 2rem;
            width: 50%;
            height: 10rem;
        }
    }
    
    @media (max-width: global.$layout-breakpoint-small) {
        div {
            flex-direction: column;
            button {
                font-size: 2rem;
                width: 90%;
                height: 10rem;
            }
        }
    }
}

.hardQuestion {
    color: rgb(219, 52, 52)
}

.mediumQuestion {
    color: rgb(240, 224, 4)
}

.easyQuestion {
    color: rgb(102, 197, 73);
}

.errorMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    button {
        font-size: 1rem;
    }
}